/* Фуксия (темно-розовый): с серым #808080 , желто-коричневым #C19A6B, цветом лайма #ccff00, зеленой мяты #006F3D,
коричневым #633A34 */

.nav-item a {
    font-size: larger;
    /* font-weight: 700; */
}

.navbar-brand img {
    width: 4.5rem;
}

.navbar-brand h3{
    margin-bottom: 0 !important;
}