/* Фуксия (темно-розовый): с серым #808080 , желто-коричневым #C19A6B, цветом лайма #ccff00, зеленой мяты #006F3D,
коричневым #633A34 */

.nav-item a {
    font-size: larger;
}

.navbar-brand img {
    width: 4rem;
}

.navbar-brand h3{
    margin-bottom: 0 !important;
}

.carousel-item img {
    opacity: .4;
    min-height: 100%;
}

.carousel-item {
    height: 30rem; 
    background-color: #000; 
    color:white; 
    position: relative; 
    background-position: center; 
    background-size: cover;   
}

