/* Фуксия (темно-розовый): с серым #808080 , желто-коричневым #C19A6B, цветом лайма #ccff00, зеленой мяты #006F3D,
коричневым #633A34 */

.nav-item a {
    font-size: larger;
}

.navbar-brand img {
    width: 4rem;
}

.carousel-item img {
    opacity: .4;
    min-height: 100%;
    min-width: 100%;
}

.carousel-item {
    height: 30rem;
    background-color: #000; 
    color:white; 
    position: relative; 
    background-position: center; 
    background-size: cover;   
}

.heading-line {
    height: 3px;
    width: 250px;
    background-color: #596322;
}

.width-on-section-choose-company {
    width: 90%;
}